cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles
cmake-build-debug/Testing
cmake-build-debug/cmake_install.cmake
cmake-build-debug/cuda
cmake-build-debug/cuda.cbp
.idea
cuda.cbp
cuda
CMakeFiles